<div class="one-job container" ng-controller="displayJobController as djCtrl">
    <article class="align-center">
        <header>
            <p class="title">{{djCtrl.job.title}}</p>
        </header>
        <div>
            <p class="inline upper">{{djCtrl.job.job_type}}</p>
            <p class="inline upper">{{djCtrl.job.company_name}}</p>
            <p>description</p>
        </div>
        <footer>
            <ul class="tags">
                <li></li>
            </ul>
            <ul class="tags">
                <li></li>
            </ul>
            <p class="inline">date</p>
            <p class="inline">links</p>
        </footer>
    </article>
</div>